[MESSAGES CONTROL]
# - bad-continuation is broken and conflicts with black formatting (is this
#   still true? either way it shouldn't be necessary with black)
# - invalid name has too many false positives (allow non all-caps globals and
#   1-2 letter variables)
disable=bad-continuation,invalid-name

[SIMILARITIES]
# ignore imports when computing similarities
ignore-imports=yes

[DESIGN]
# Maximum number of branch for function / method body
max-branches=20
